<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is from HTML</title>
</head>
<body>
    <h1>HALO THIS IS FROM EXPRESS</h1>
    <li><a href="">About </a></li>
    <li><a href=""">Profile</a></li>
    <h1><%=name%></h1>
    <% for( let index = 0; index < mahasiswa.length; index++ ) { %>
       
        <ul>
            <li>No: <%=mahasiswa[index].no%> <br>
                Name: <%=mahasiswa[index].name%></li>
        </ul>
    <% } %>
</body>
</html>